

.btn{
  background-color: antiquewhite;
  text-align: center;
  border-radius: 15px;
  margin: 4px;

}
.row{
  border: 2px solid black;
  padding: 6px;
  margin-top: 8px;
  background-color: aqua;
  border-radius: 6px;
  box-shadow: 4px 2px;
}

.urls{
  margin: 6px;
  border: 2px solid black;
  height: 220px;
  display: flex;
  flex-direction: row;
  overflow: hidden;
 border-radius: 8px;
 width: 30%;

}

.urls img{
  
  display: flex;
  flex-direction: row;
}